@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,regular,600,800&display=swap);
@import-normalize;
:root {
  --family: "Nunito Sans", sans-serif;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  --border-radius: 0.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body[data-theme=dark] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(207, 26%, 17%);
  --color-ui-base: hsl(209, 23%, 22%);
  --shadow: rgba(245, 245, 245, 0.2) 0px 0px 8px;
}

body[data-theme=light] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 98%);
  --color-ui-base: hsl(0, 0%, 100%);
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-light);
  background-color: var(--color-bg);
}